extends layout 

block content 

    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px;')

        h4 Albums 
        
        dl 
            each album in genre_albums 
                dt 
                    a(href=album.url) #{album.title} - #{album.artist.name}
                    dd #{album.description}

            else 
                p This genre has no albums